@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    overflow: hidden;
}

/* Header */

.hero {
    background-image: url(../img/header.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.hero__wave {
    height: 200px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.hero__texts {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero__title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__copy {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.cta {
    background-color: rgb(125, 126, 185);
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 400;
}

/* main */

.main {
    margin: 50px auto;
}

/* Main - info */

.main {
    background-color: #fff;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
}

.info__picture {
    order: -1;
    text-align: center;
}

.info__img {
    width: 70%;
}

.info__title {
    font-size: 2rem;
    font-weight: 300;
}

.info__paragraph {
    margin: 30px 0 40px;
    line-height: 25px;
    font-weight: 300;
}

/* main - message */

.message {
    background-color: rgba(245, 47, 47, 0.788);
    padding: 90px;
    color: #fff;
    margin: 90px 0 80px;
}

.message__title {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
}

/* main - services */

.services {
    text-align: center;
}

.services__title {
    margin-bottom: 40px;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0 10px;
}

.card__item {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    padding: 50px;
    border-radius: 5px;
}

.card__title {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 300;
}

.card__cody {
    font-weight: 300;
}

.card__cta {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    
}

[class^="fas fa"] {
    font-size: 30px;   
    text-align: center;
    color: rgb(125, 126, 185);
}

/* main - imgs */

.imgs {
    text-align: center;
    margin: 50px auto;
}

.imgs__title {
    margin: 2.5rem 0;
}

.imgs__pitures {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "img1 img2 img3"
    "img1 img4 img5";
}

.imgs__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imgs__img:hover {
    opacity: .8;
}

.img__item:nth-last-of-type(1) {
    grid-area: img1;
}
.img__item:nth-last-of-type(2) {
    grid-area: img2;
}
.img__item:nth-last-of-type(3) {
    grid-area: img3;
}
.img__item:nth-last-of-type(4) {
    grid-area: img4;
}
.img__item:nth-last-of-type(5) {
    grid-area: img5;
}

/* main - info2 */

.info2 {
    display: grid;
    margin-top: 90px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info2__picture {
    align-self: center;
    text-align: center;
}

.info2__img {
    width: 90%;
    height: 90%;
}

.info2__title {
    font-size: 2rem;
    font-weight: 300;
}

.info2__paragraph {
    margin: 30px 0 40px;
    line-height: 25px;
    font-weight: 300;
}

/* Footer */

.footer__backgroung {
    background-color: #7d7eb9;
    color: #fff;
}

.footer__title {
    margin: 20px 0;
}

.footer__formulario {
    text-align: center;
}

input, textarea {
    width: 40%;
    margin: 15px 5px;
    padding: 20px 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
}

input::placeholder, 
textarea::placeholder {
    color: #fff;
}

textarea {
    width: 82%;
    margin-bottom: 1px;
}

input[type="submit"] {
    width: 160px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

input[type="submit"]:hover {
    background-color: #6a6cbb;
    display: inline-block;
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1040px) {
    
    .card {
        display: grid;
        grid-template-columns: 2fr;
        gap: 20px;
        padding: 0 10px;
    }

}

@media screen and (max-width: 750px) {
    
    .hero__title {
        font-size: 2.8rem;
    }
    
    .hero__copy {
        font-size: 1.4rem;
    }

    .hero__wave {
        height: 150px;
    }

}

@media screen and (max-width: 750px) {
    
    .info, .info2 {
        grid-template-columns: 1fr;
    }

    .info__picture {
        order: 1;
    }
    
    .info__img, .info2__img {
        width: 50%;
        height: 60%;
    }

}

@media screen and (max-width: 750px) {
    
    .hero__title {
        font-size: 2.2rem;
    }
    
    .hero__copy {
        font-size: 1.2rem;
    }

    .hero__wave {
        height: 100px;
    }

}

@media screen and (max-width: 750px) {
    
    .hero__title {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .hero__copy {
        font-size: 1rem;
    }

}

@media screen and (max-width: 450px) {

    .imgs__pitures {
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
    }

    .card__item {
        padding: 25px 0;
    }

    .message__texts {
        width: 100%;
        text-align: center;
    }

}
